body, html {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000; 
    padding-bottom: 10px;
    border-bottom: 1px solid #444; 
}

header h1 {
    font-family: 'Palatino', serif;
    font-size: 3em;
    font-weight: 500;
    color: #333;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}


nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    color: #000;
    padding-left: 30px;
    padding-top: 10px;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

section nav {
    padding: 10px 30px;
    border-top: 0.5px solid #444;
    border-bottom: 0.5px solid #444;
}

section span {
  font-size: 0.8em;
}

section nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    color: #000;
    padding: 0 0;
}

section nav a:hover {
    color: blue;
    text-decoration: underline;
}

hr {
    margin: 0; 
    border: none;
    border-top: 1px solid #444; 
    width: 100%; 
}

header hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #444; 
    width: 100%;
}

body {
    font-family: 'roboto', sans-serif;
    color: #444;
    margin-top: 125px;
}

#home {
    height: 600px;
    text-align: center;
    border-bottom: 0.5px solid #444;
    position: relative;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images cover entire area */
    opacity: 0; /* Start with images hidden */
    transition: opacity 1s ease-in-out;
}


#music h2, #writing h2 {
    font-family: 'Palatino', serif;
    font-size: 2em;
    font-weight: 500;
    color: #333;
    padding: 20px 30px 10px 30px;
    margin: 0; 
    background-color: #ebebeb;
    border-bottom: 0.5px solid #444;
    border-top: 0.5px solid #444;
}

#evergreen h2 {
    font-family: 'Palatino', serif;
    font-size: 2em;
    background-color: #a6c19e;
    font-weight: 500;
    color: #333;
    padding: 20px 30px 10px 30px;
    margin: 0;
    border-bottom: 1px solid #444;
}

#contact h2 {
    font-family: 'Palatino', serif;
    font-size: 2em;
    font-weight: 500;
    color: #333;
    padding: 20px 30px 10px 30px;
    margin: 0;
}

#piano {
    text-decoration: strikethrough;
}

#evergreen {
    border-top: 0.5px solid #444; 
    border-bottom: 1px solid #444; 
}

#contact {
    background-color: #ebebeb;
    padding-bottom: 40px;
    border-bottom: 1px solid #444;
}

#contact p a {
    color: black; 
    text-decoration: none;
    padding-left: 30px;
}

#contact p a:hover {
    color: blue; 
    text-decoration: underline; 
    font-weight: 400;
}

.grid-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    width: 100%;
}

.grid-item {
    flex: 0 0 auto; 
    position: relative;
    width: 20%;
    height: 100%; 
    border: 0.5px solid #444;
    padding-bottom: 50px;
    text-align: center;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
    scroll-snap-align: start;
    transition: transform 0.3s ease-in-out;
    z-index: 0; 
    background-color: white;
}
.grid-item a {
    cursor: default;
    display: inline;
    text-decoration: none; 
    color: inherit; 
}

.grid-item .description {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 2vw;
    border-top: 1px solid #444;
    box-sizing: border-box;
}

.grid-item .description p {
    font-size: 0.8em;
    color: #666;
    margin: 0;
    text-align: center;
    line-height: 20px;
    padding: 10px;
}

.grid-item h3 {
    font-size: 1.0em;
    padding: 100px 0px;
    margin: 0 0 10px;
    font-family: 'Palatino', serif;
    font-weight: 400;
    text-decoration: none; 
    color: inherit; 
}

.grid-item:hover {
    transform: scaleX(1.025); 
    z-index: 900; 
    overflow: visible;
    background-color: white;
}

.grid-item p {
    font-size: 0.9em;
    color: #666;
}

.spacer {
    height: 100vh;
}

footer {
    font-family: 'Palatino', serif;
    font-size: 0.6em;
    color: #555;
    padding-left: 20px;
}
